<div class="container">
    <div class="col">
        <div class="row">
            <div class="card">
                <div class="face face1">
                    <div class="content">
                        <span class="stars"></span>
                        <h2 class="java">Collaborate</h2>

                        <p class="java">Collaborate with the flagship skills development organization in the state
                            supported Govt. of India and partnered by Govt. of Kerala. </p>
                    </div>
                </div>
                <div class="face face2">
                    <!-- <h2>Collaborate</h2> -->
                    <i class=" fa fa-users" aria-hidden="true"></i>
                </div>
            </div>

            <div class="card">
                <div class="face face1">
                    <div class="content">
                        <span class="stars"></span>
                        <h2 class="python">Interactions</h2>
                        <p class="python">Access to over hundred Engineering and Non-engineering educational
                            institutions in the state of Kerala for campus recruitment/internships and for
                            collaborative
                            research with Academia.
                        </p>
                    </div>
                </div>
                <div class="face face2">
                    <!-- <h2>Interactions</h2> -->
                    <i class=" fa fa-handshake-o" aria-hidden="true"></i>

                </div>
            </div>

            <div class="card">
                <div class="face face1">
                    <div class="content">
                        <span class="stars"></span>
                        <h2 class="cSharp">Corporate Training Benefits</h2>
                        <p class="cSharp">Participate in our corporate trainings and workshops at ‘Member rates’ (up
                            to
                            20% discount)</p>
                    </div>
                </div>
                <div class="face face2">
                    <!-- <h2>Corporate Training Benefits</h2> -->
                    <i class=" fa fa-school" aria-hidden="true"></i>

                </div>
            </div>

            <div class="card">
                <div class="face face1">
                    <div class="content">
                        <span class="stars"></span>
                        <h2 class="cSharp">Recruitments</h2>
                        <p class="cSharp">Access to ICT Academy trained pool of candidates for your manpower
                            requirements.</p>
                    </div>
                </div>
                <div class="face face2">
                    <!-- <h2>Recruitments</h2> -->
                    <i class=" fa fa-briefcase" aria-hidden="true"></i>

                </div>
            </div>
        </div>
    </div>
</div>