<section class="container">
    <div class="col ">
        <div class="row ">

            <!-- card 1 -->

            <div class="card">
                <div class="face face1">
                    <div class="content">
                        <span class="stars"></span>
                        <h2 class="python">For Students</h2>

                        <!-- <p class="java"> -->
                        <ul class="java">
                            <li>Free training on industrial skills with global leaders like Microsoft, Oracle
                                Academy,
                                Google, Salesforce, AWS, and AAU in IR 4.0 technology domain.</li>
                            <li>Students from partner institutions benefit from the learning enrichment programs
                                like
                                ICSET, Techathlon, and Student Top 10.</li>
                        </ul>
                        <!-- </p> -->
                    </div>
                </div>
                <div class="face face2">
                    <h2>For Students</h2>
                    <!-- <i class=" fa fa-users" aria-hidden="true"></i> -->
                </div>
            </div>

            <!-- card 2 -->
            <div class="card">
                <div class="face face1">
                    <div class="content">
                        <span class="stars"></span>
                        <h2 class="python">For Faculty</h2>
                        <ul class="java">
                            <li>Faculty Benefits Access to Partner Curriculum.</li>
                            <li>Faculty development program from Salesforce, Oracle Academy, Google, and Microsoft.
                            </li>
                            <li>Industrial visit. Opportunity to see, interact, and experience the industry
                                innovations.
                            </li>
                            <li>Opportunity to publish their works in our international magazine.</li>
                        </ul>
                    </div>
                </div>
                <div class="face face2">
                    <h2>For Faculty</h2>

                </div>
            </div>

            <!-- card-3  -->
            <div class="card">
                <div class="face face1">
                    <div class="content">
                        <span class="stars"></span>
                        <h2 class="python">For Institutions</h2>
                        <ul class="java">
                            <li>Access to ICTAK corporate partner pre-programs and events.S</li>
                            <li>Employability Quotient Test (EQT) to all the students to know their industrial
                                skills.
                            </li>
                            <li>Support for educators on partner program curriculum delivery and integration.</li>
                            <li>Connection and support to virtual and on-campus events.</li>
                            <li>Joint PR opportunities with ICT Academy of Kerala.</li>
                        </ul>
                    </div>
                </div>
                <div class="face face2">
                    <h2>For Institutions</h2>
                </div>
            </div>
        </div>
    </div>


</section>