<article class="leaderboard">
    <header>
        <h1 class="leaderboard__title">
            Our Focus
        </h1>
    </header>

    <main class="leaderboard__profiles">

        <article class="leaderboard__profile">
            <span class="leaderboard__name">Industry focused ICT Skills development programmes for Students</span>
        </article>

        <article class="leaderboard__profile">
            <span class="leaderboard__name">Project assignments related to capability building for Institutions and Corporate.</span>
        </article>

        <article class="leaderboard__profile">
            <span class="leaderboard__name">Creating Intellectual Property on niche skill areas and emerging technologies.</span>
        </article>

        <article class="leaderboard__profile">
            <span class="leaderboard__name">To emerge as the single-point establishment for all the ICT related capability building in the State</span>
        </article>
    </main>
</article>