.add1{
    display: flex;
    justify-content: center;
}
.add1 h1{
    font-size: 25px;
    letter-spacing: 4px;
    margin: 50px 0px 50px 0px ;
}

.box1{
    height:100px !important;
}

input.ng-pristine {
    border-color:yellow;
}

input.ng-touched.ng-invalid {
    border-color:red;
}

input.ng-touched.ng-valid {
    border-color:green;
}