<!-- Why us -->
<div id="why-us" class="section">

    <!-- container -->
    <div class="container">
        <div class="col-lg-6 offset-lg-3">
            <div class="section-heading">
                <h2>Why Choose <em> ICTK</em></h2>
                <img src="assets/images/line-dec.png" alt="waves">
            </div>
        </div>

        <!-- first row -->
        <div class="col">
            <div class="row ">
                <!-- card1 -->

                <div class="b">

                    <section class="card-section">
                        <div class="card">
                            <div class="flip-card">
                                <div class="flip-card__container">
                                    <div class="card-front">
                                        <div class="card-front__tp card-front__tp--city">
                                            <div>
                                                <i class="fa fa-handshake-o"></i>
                                            </div>

                                            <h2 class="card-front__heading">
                                                Support
                                            </h2>

                                        </div>

                                        <div class="card-front__bt">
                                            <i class="fa fa-angle-double-down" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                    <div class="card-back">
                                        <img src="assets/images/ICTimage.png">
                                    </div>
                                </div>
                            </div>

                            <div class="inside-page">
                                <div class="inside-page__container">
                                    <h3 class="inside-page__heading inside-page__heading--city">
                                        Support
                                    </h3>
                                    <p class="inside-page__text">
                                        Government supported and industry led programs </p>
                                </div>
                            </div>
                        </div>
                    </section>

                </div>
                <!-- card2  -->

                <div class="b">

                    <section class="card-section">
                        <div class="card">
                            <div class="flip-card">
                                <div class="flip-card__container">
                                    <div class="card-front">
                                        <div class="card-front__tp card-front__tp--city">
                                            <div>
                                                <i class="fa fa-rupee-sign"></i>
                                            </div>

                                            <h2 class="card-front__heading">
                                                Scholorship
                                            </h2>

                                        </div>

                                        <div class="card-front__bt">
                                            <i class="fa fa-angle-double-down" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                    <div class="card-back">
                                        <img src="assets/images/ICTimage.png">
                                    </div>
                                </div>
                            </div>

                            <div class="inside-page">
                                <div class="inside-page__container">
                                    <h3 class="inside-page__heading inside-page__heading--city">
                                        Scholorship
                                    </h3>
                                    <p class="inside-page__text">
                                        Government scholarships and affordable fees model</p>
                                </div>
                            </div>
                        </div>
                    </section>

                </div>

                <!-- card3 -->

                <div class="b">

                    <section class="card-section">
                        <div class="card">
                            <div class="flip-card">
                                <div class="flip-card__container">
                                    <div class="card-front">
                                        <div class="card-front__tp card-front__tp--city">
                                            <div>
                                                <i class="fa fa-university"></i>
                                            </div>

                                            <h2 class="card-front__heading">
                                                Services
                                            </h2>

                                        </div>

                                        <div class="card-front__bt">
                                            <i class="fa fa-angle-double-down" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                    <div class="card-back">
                                        <img src="assets/images/ICTimage.png">
                                    </div>
                                </div>
                            </div>

                            <div class="inside-page">
                                <div class="inside-page__container">
                                    <h3 class="inside-page__heading inside-page__heading--city">
                                        Services
                                    </h3>
                                    <p class="inside-page__text">
                                        One-stop shop for Students, Unemployed and Working professional</p>
                                </div>
                            </div>
                        </div>
                    </section>

                </div>
                <!-- row ends -->


                <!-- second row -->



                <!-- card4 -->

                <div class="b">

                    <section class="card-section">
                        <div class="card">
                            <div class="flip-card">
                                <div class="flip-card__container">
                                    <div class="card-front">
                                        <div class="card-front__tp card-front__tp--city">
                                            <div>
                                                <i class="fa fa-graduation-cap"></i>
                                            </div>

                                            <h2 class="card-front__heading">
                                                Happy Clients
                                            </h2>

                                        </div>

                                        <div class="card-front__bt">
                                            <i class="fa fa-angle-double-down" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                    <div class="card-back">
                                        <img src="assets/images/ICTimage.png">
                                    </div>
                                </div>
                            </div>

                            <div class="inside-page">
                                <div class="inside-page__container">
                                    <h3 class="inside-page__heading inside-page__heading--city">
                                        Happy Clients
                                    </h3>
                                    <p class="inside-page__text">
                                        More than 5000 has been trained </p>
                                </div>
                            </div>
                        </div>
                    </section>

                </div>
                <!-- card5  -->

                <div class="b">

                    <section class="card-section">
                        <div class="card">
                            <div class="flip-card">
                                <div class="flip-card__container">
                                    <div class="card-front">
                                        <div class="card-front__tp card-front__tp--city">
                                            <div>
                                                <i class="fa fa-chalkboard-teacher"></i>
                                            </div>

                                            <h2 class="card-front__heading">
                                                Experienced Faculty
                                            </h2>

                                        </div>

                                        <div class="card-front__bt">
                                            <i class="fa fa-angle-double-down" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                    <div class="card-back">
                                        <img src="assets/images/ICTimage.png">
                                    </div>
                                </div>
                            </div>

                            <div class="inside-page">
                                <div class="inside-page__container">
                                    <h3 class="inside-page__heading inside-page__heading--city">
                                        Experienced Faculty
                                    </h3>
                                    <p class="inside-page__text">
                                        More than 120 experienced Faculties</p>
                                </div>
                            </div>
                        </div>
                    </section>

                </div>

                <!-- card6 -->

                <div class="b">

                    <section class="card-section">
                        <div class="card">
                            <div class="flip-card">
                                <div class="flip-card__container">
                                    <div class="card-front">
                                        <div class="card-front__tp card-front__tp--city">
                                            <div>
                                                <i class="fa fa-thumbs-up"></i>
                                            </div>

                                            <h2 class="card-front__heading">
                                                Satisfaction
                                            </h2>

                                        </div>

                                        <div class="card-front__bt">
                                            <i class="fa fa-angle-double-down" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                    <div class="card-back">
                                        <img src="assets/images/ICTimage.png">
                                    </div>
                                </div>
                            </div>

                            <div class="inside-page">
                                <div class="inside-page__container">
                                    <h3 class="inside-page__heading inside-page__heading--city">
                                        Satisfaction
                                    </h3>
                                    <p class="inside-page__text">
                                        100 Percent Satisfaction</p>
                                </div>
                            </div>
                        </div>
                    </section>

                </div>
                <!-- row ends -->
            </div>
        </div>
    </div>
    <!-- /container -->

</div>
<!-- /Why us -->