<!-- Testimonial Start -->


<section class="client_section layout_padding">

    <div class="container">
        <div class="col-lg-6 offset-lg-3">
            <div class="section-heading">
                <h2> Testimonials</h2>
                <img src="assets/images/line-dec.png" alt="waves">
            </div>
        </div>
        <div>
            <owl-carousel-o [options]="customOptions">

                <ng-template carouselSlide>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="client_img-box">
                                <img src="assets/images/third-trainer.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="client_detail-box">
                                <h5>
                                    Dr Subrahmaniyan
                                </h5>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et
                                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                                    laboris nisi ut aliquip ex
                                    ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                                </p>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="client_img-box">
                                <img src="assets/images/test.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="client_detail-box">
                                <h5>
                                    Alex Du
                                </h5>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et
                                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                                    laboris nisi ut aliquip ex
                                    ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                                </p>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="client_img-box">
                                <img src="assets/images/test.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="client_detail-box">
                                <h5>
                                    Alex Du
                                </h5>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et
                                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                                    laboris nisi ut aliquip ex
                                    ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                                </p>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>

</section>