<!-- Testimonial Start -->


<section class="client_section layout_padding">

    <div class="container">
        <div class="col-lg-6 offset-lg-3">
            <div class="section-heading">
                <h2> Testimonials</h2>
                <img src="assets/images/line-dec.png" alt="waves">
            </div>
        </div>
        <div>
            <owl-carousel-o [options]="customOptions">

                <ng-template carouselSlide *ngFor='let testimonial of testimonials'>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="client_img-box">
                                <img src={{testimonial.image}} alt="">
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="client_detail-box">
                                <h5>
                                    {{testimonial.name}}
                                </h5>
                                <p>
                                    {{testimonial.testimony}}
                                </p>
                            </div>
                        </div>
                    </div>
                </ng-template>

            </owl-carousel-o>
        </div>
    </div>

</section>