<app-head-nav> </app-head-nav>
<div class="academic">

    <section class="banner_main">
        <div class="container">
            <div class="row d_flex">
                <div class="col-md-5">
                    <div class="text-bg">
                        <h1>Join Us</h1>
                        <p>As an ICTK partner, You will get a fantabulous oppurtunity to handhold nation building
                            process </p>
                        <div class="middle">
                            <button (click)="partnerForm()" class="btn btn1 " >Get Started</button>
                            <button class="btn btn1 ">Brochure</button>

                        </div>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="text-img">
                        <figure><img src="assets/images/world2.png" /></figure>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<app-footer> </app-footer>