@import url("https://fonts.googleapis.com/css?family=Abel");
@keyframes example {
  10% {
    color: #aaa;
  }
  20% {
    color: #ccc;
  }
  30% {
    color: #ddd;
  }
  40% {
    color: #eee;
  }
  50% {
    color: #ddd;
  }
  60% {
    color: #ccc;
  }
  70% {
    color: #aaa;
  }
  80% {
    color: #999;
  }
  90% {
    color: #998;
  }
  100% {
    color: #888;
  }
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0%;
}

.father {

  margin: 50px auto;
  position: relative;
  color: rgb(51, 50, 50);
  transition: all 0.5s ease-in-out;
  transform-style: preserve-3d;
}
.other-staff{
  width: 300px;
  height: 400px;
}
.main-staff{
  width: 450px;
  height: 600px;
}

.father:hover {
  transform: rotateY(180deg);
}
.father > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  text-align: center;
  font-family: "Abel", sans-serif;
  border-radius: 10px;
}
.front {
  z-index: 2;
  background: #faf8f867;
  backface-visibility: hidden;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;

}
.front header {
  background: url(https://s19.postimg.org/53n91vjkj/1300x300.jpg);
  background-size: cover;
  opacity: 0.6;
  border-radius: 8px;
  height: 30%;
}
.other-s img {
  width: 200px;
  height: 200px;
  position: relative;
  bottom: 50px;
  border-radius: 4px;
  /* border-radius: 50%; */
  object-fit:fill;
  border-radius: 4px;

}

.main-s img {
  width: 300px;
  height: 300px;
  /* border-radius: 50%; */
  position: relative;
  bottom: 50px;
  object-fit:fill;

}

.front h3 {
  position: relative;
  bottom: 50px;
  color: rgb(22, 21, 21);
  text-shadow: 1px 1px 3.5px #000;
  font-size: 140%;
  letter-spacing: 2px;
  font-family: "Inconsolata ", sans-serif;
  text-transform: uppercase;
}
.front p {
  position: relative;
  bottom: 50px;
  color: rgb(19, 18, 18);
  text-transform: lowercase;
}

.back {
  z-index: 1;
  background: #fcfcfc;
  transform: rotateY(180deg);
  backface-visibility: hidden;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
border-radius: 10px;
}

.back p {
  font-size: 20px;
}

.container1 {
  margin: 50px 50px 50px 50px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.card-space {
  display: flex;
  flex-direction: row;
  padding: 20px 20px;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.card-space-main{
  display: flex;
  flex-direction: row;
  padding: 20px 20px;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;

}


  .main-staff-header {
    font-size: 36px;
    color: #283d50;
    text-align: center;
    font-weight: 500;
    position: relative;
    padding-top:80px;
  }


/* main staff  */

/* 	Product details  */
.product-details {
  position: relative;
  text-align: left;
  overflow: hidden;
  padding: 30px;
  height: 100%;
  float: left;
  width: 40%;
}

/* 	Product Name */
#container .product-details h1 {
  font-family: "Old Standard TT", serif;
  display: inline-block;
  position: relative;
  font-size: 34px;
  color: #344055;
  margin: 0;
}

#container .product-details h1:before {
  position: absolute;
  content: "";
  right: 0%;
  top: 0%;
  transform: translate(25px, -15px);
  font-family: "Farsan", cursive;
  display: inline-block;
  background: #ffa69e;
  border-radius: 5px;
  font-size: 14px;
  padding: 5px;
  color: rgb(19, 18, 18);
  margin: 0;
  animation: chan-sh 6s ease infinite;
}





/* The most important information about the product */
#container .product-details > p {
  font-family: "Farsan", cursive;
  text-align: center;
  font-size: 20px;
  color: #302f2f;
}





/* product image  */
.product-image {
  transition: all 0.3s ease-out;
  display: inline-block;
  position: relative;
  overflow: hidden;
  height: 100%;
  float: right;
  width: 50%;
  display: inline-block;
}

#container img {
  width: 100%;
  height: 100%;
}

.info {
  background: rgba(27, 26, 26, 0.9);
  font-family: "Farsan", cursive;
  transition: all 0.3s ease-out;
  transform: translateX(-100%);
  position: absolute;
  line-height: 1.9;
  text-align: left;
  font-size: 120%;
  cursor: no-drop;
  color: rgb(37, 36, 36);
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

.info h2 {
  text-align: center;
}
.product-image:hover .info {
  transform: translateX(0);
}

.info ul li {
  /* transition: 0.3s ease; */
}
.info ul li:hover {
  transform: translateX(50px) scale(1.3);
}

.product-image:hover img {
  /* transition: all 0.3s ease-out; */
}
.product-image:hover img {
  transform: scale(1.2, 1.2);
}
#container{
	/* box-shadow: 0 15px 30px 1px rgba(238, 230, 230, 0.31); */
	background: rgba(255, 255, 255, 0.90);
	text-align: center;
	border-radius: 5px;
	overflow: hidden;
	margin: 5em auto;
	height: 350px;
	width: 700px;
	
}

.main-card{

  display: flex;
  flex-direction: row;
  padding: 20px 20px;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.card-fullbody{
  background-color: #f2f2f2;
}

.text1{
  color :black;
}

.text2{
  font-size: 13px;
  text-align:center;
  color :rgb(68, 65, 65);
 padding-left: 5px !important;
 padding-right: 5px;
 line-height: 12px;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
}