<section class="container1 ">

    <div class="col-lg-6 offset-lg-3">
        <div class="section-heading">
            <h2>Upcoming <em> Events</em></h2>
            <img src="assets/images/line-dec.png" alt="waves">
        </div>
    </div>

    <div class="cardbody">
        <a routerLink="/events" routerLinkActive="active">
            <div class="card">
            <div class="card-image"></div>
            <div class="card-text">
                <span class="date">Technopark</span>
                <h2>ICSET</h2>
                <p>Lorem ipsum dolor sit amet consectetur, Ducimus, repudiandae temporibus omnis illum maxime quod
                    deserunt
                    eligendi dolor</p>
            </div>
            <div class="card-stats">
                <div class="stat">
                    <h3>04</h3>
                </div>
                <div class="stat border">
                    <h3>January</h3>
                </div>
                <div class="stat">
                    <h3>2023</h3>
                </div>
            </div>
        </div>
    </a>
        <a routerLink="/events" routerLinkActive="active">
            <div class="card">
                <div class="card-image card2"></div>
                <div class="card-text card2">
                    <span class="date">Technopark</span>
                    <h2>Techathlon</h2>
                    <p>Adipisicing elit. Ducimus, repudiandae corrupti amet temporibus omnis provident illum maxime
                        quod.
                        Lorem
                        ipsum dolor</p>
                </div>
                <div class="card-stats card2">
                    <div class="stat">
                        <h3>04</h3>
                    </div>
                    <div class="stat border">
                        <h3>January</h3>
                    </div>
                    <div class="stat">
                        <h3>2023</h3>
                    </div>
                </div>
            </div>
        </a>

    </div>
</section>