<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a  routerLink="" routerLinkActive="active"><img src="../../assets/images/ICTimage.png" width="80px" height="80px"></a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li class="scroll-to-section"><a routerLink="" routerLinkActive="active">Home</a></li>
                        <li class="scroll-to-section"><a routerLink="/about" routerLinkActive="active">About</a></li>
                        <li class="scroll-to-section"><a routerLink="/courses" routerLinkActive="active">Courses</a>
                        </li>
                        <li class="scroll-to-section"><a routerLink="/events" routerLinkActive="active">Events</a>
                        </li>
                        <li class="scroll-to-section dropdown"><a>Offerings</a>
                            <div class="dropdown-content">
                                <a routerLink="/partnership" routerLinkActive="active"> Partnership</a>
                                <a routerLink="/academic-membership" routerLinkActive="active">Academic Membership</a>
                                <a routerLink="/corporate-membership" routerLinkActive="active"> Corporate
                                    Membership</a>
                            </div>
                        </li>
                        <li class="scroll-to-section"><a href="#contact-us">Contact</a></li>
                        <li class="main-button"><a href="#">Sign In</a></li>
                    </ul>
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ***** Header Area End ***** -->